<h2>Pokemon</h2>
<!-- # <% @pokemons.each do |pokemon| %>
#   <a href="/pokemon/<%= pokemon.name %>"></a>
#   <img src="<%= @pokemon.img_url %>">
#   <p>Poke Power: <%= @pokemon.cp %></p>
#   <p>Poke Type: <%= @pokemon.poke_type %></p>
# <% end %> -->
